body {
    background-image: linear-gradient(to right, pink, rgb(184, 78, 95) );
}


#img {
    align-items: center;
}

body img {
    align-items: center;
    height: 100px;
}

body input {
    color: darkgray;
}

