body {
    background-color: darkgray;
}
#menu {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
}
.linkMenu {
    color: rgb(12, 14, 9);
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}
#menu img {
    height: 55px;
    margin-left: 30px;
}
.parte1 {
    width: 100%;
    height: 800px;
    text-align: center;
}
.parte1 img {
height: 500px;
}
.parte1 h1 {
    color: brown;
}
.parte1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
}