body{
    background-color: black;
    margin: 0;
}
header{
    width: 100%;
    height: 7vh;
    background-color: red;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 80%;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.hamburger{
    display:none;
}
@media  screen and (max-width: 768px){
    .hamburger{
        display: inline;
    }
    header nav{
        display:none
    }
}