body{
    background-color: black;
    margin: 0;
}
header{
    width: 100%;
    height: 7vh;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 80%;
}
header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
    color: green;
    text-transform: uppercase;
}
.hamburger{
    display:none;
}
.banner{
    background-image: url(img/backgroundspotify1.png);
    margin: 0;
    width: 100%;
    height: 70vh;
    background-size: cover;
}
.container{
    display:flex;
    align-items: flex-end;
    height: 80%;
    width:60%;
}
.container-texto{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    padding-left: 20px;
    
}
.container-texto h1{
    color: white;
    font-size: 80px;
}
.container-texto h3{
    color:white;
    font-size: 40px;
   
}
.container2{
    background-color: white;
    padding-top:40px;
    padding-bottom:50px;
}
.titulo2 h2{
    color:green;
    font-size: 30px;
    font-weight: 100;
    padding-left:50px;
}
.conteudo2{
    display:flex;
    justify-content: space-between;
}
.img2{
    width:50%;
}
.texto2{
    width:40%;
    color:green;
    font-weight: 50;
    
}
.texto2 h3{
    font-size:50px ;
}
.texto2 p{
    font-size:45px;
}
@media  screen and (max-width: 768px){
    .hamburger{
        display: inline;
    }
    header nav{
        display:none
    }
    .conteudo2{
        flex-direction: column;
        align-items: center;
    }
    .im2{
        width:80%;
    }
    .texto2{
        width:80%;
        margin-top:45px;
        display:flex;
        flex-direction: column;
        height: 430px;
        justify-content: space-between;
    }
    .texto2 p{
        font-size: 40px;
    }

}